$primary-color: #337ab7;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;

$primary-bd-color: #2e6da4;
$success-bd-color: #4cae4c;
$info-bd-color: #46b8da;
$warning-bd-color: #eea236;
$danger-bd-color: #d43f3a;
